body {
    background-color: #000;
    color: #ccc;
    font-family: 'Old Standard TT', serif;
}

.text-container, #bookContent, #jailView {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid #444;
    border-radius: 10px;
    background-color: #333;
}

#book {
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#book:hover {
    transform: scale(1.1);
}

.rift {
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.story {
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #282828;
}

.jail-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.jail-image {
    width: 50px;
    height: 100px;
}



